#navigation-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 50px;
    width: 90vw;
    font-size: 10pt;
    align-content: center;
}

 #nav-links {
    display: flex;
    column-gap: 20px;
} 

#nav-logo {
    width: 100px;
}

#Porli-Sara-hero{
    background-image: url(../assets/images/porli-sara-hero.jpg);
    width: 100vw;
    height: 150vh;
    background-size: 100% 100%;
}

#new-arrivals{
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 0px;
}
#arrivals-sub-header{
    
}