body{
    overflow-x: hidden;
}

#navigation-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 50px;
    font-size: 10pt;
    align-content: center;
}

#nav-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 20px;
}

#nav-links a {
    text-decoration: none;
}

#nav-logo {
    width: 100px;
}

#title{
    transform: translateX(-350px);
}

#Porli-Sara-hero {
    background-image: url(../assets/images/hero-hero.jpg);
    width: 100vw;
    height: 100vh;
    background-size: 100% 100%;
    display: flex;
    flex-direction: row-reverse;
    /* transform: translateY(-100px); */
}

/* #hero-watch {
    width: 400px;
    padding-left: 850px;
    padding-top: 50px;
} */
#hero-watch{
    animation: heartbeat 1s infinite 
    alternate;
}


#hero-text{
    color: goldenrod;
    font-size: 50px;
    display: flex;
    flex-direction: column;
    transform: translateY(200px);

}
/* #hero-text{
    display: flex;
    flex-direction: column;
    color: goldenrod;
    font-size: 20px;
    text-align: left;
    justify-content: center;
}   */

/* header{
    display: flex;
    flex-direction: column;
    color: goldenrod;
    font-size: 100px;
    text-align: left;
    justify-content: center;
} */

#new-arrivals {
    display: flex;
    justify-content: center;
    column-gap: 15px;
    height: 600px;
    padding-block: 100px;
}

#slotone {
    border-radius: 20px;
    transition: transform 0.5s;
}

/* #slotone:hover {
    transform: scale(1.1);
} */

#slot2 {
    border-radius: 20px;
}

#slot3 {
    border-radius: 20px;
}

 #just-arrived{
    display: flex;
    text-align: center;
    justify-content: center;
    color: crimson;
    font-size: 20pt;
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
} 

#limited-edition{
    display: flex;
    flex-direction: column;
    height: 1500px;
    background-color: #1f1d1d;
}

#lim-edi{
    display: flex;
    text-align: center;
    justify-content: center;
    color: crimson;
    font-size: 20pt;
}

#lim-edi-one{
    display: flex;
    flex-direction: row;
    column-gap: 80pt;
    justify-content: center;
    border: 10px;
}

#one{
    width: 400px;
}

#img-one-text{
    color: antiquewhite;
    padding: 150px;
    font-size: 20px;
}

#lim-edi-two{
    display: flex;
    flex-direction: row;
    padding-left: 850px;
}

#two{
    width: 400px;
}

#img-two-text{
    padding-right: 10px;
}

