#navigation-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 50px;
    font-size: 10pt;
    align-content: center;
}
#nav-links{
    display: flex;
    justify-content: center;
}

#nav-links a{
    /* display: flex; */
    text-decoration: none;
}

#nav-logo {
    width: 100px;
}

#Porli-Sara-hero {
    background-image: url(../assets/images/porli-sara-hero.jpg);
    width: 100vw;
    height: 150vh;
    background-size: 100% 100%;
}

#new-arrivals {
    display: flex;
    justify-content: center;
    column-gap: 15px;
    height: 600px;
    padding-block: 100px;
}

#slotone {
    border-radius: 20px;
    transition: transform 0.5s;
}

/* #slotone:hover {
    transform: scale(1.1);
} */

#slot2 {
    border-radius: 20px;
}

#slot3 {
    border-radius: 20px;
}

 #just-arrived{
    display: flex;
    text-align: center;
    justify-content: center;
    color: crimson;
    font-size: 20pt;
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
} 

#limited-edition{
    height: 600px;
    background-color: #0F0F0F;
}

#lim-edi{
    display: flex;
    text-align: center;
    justify-content: center;
    color: crimson;
    font-size: 20pt;
}

#lim-edi-one{
    display: flex;
    flex-direction: row;
    column-gap: 80pt;
    justify-content: center;

}

#uniformed-man{
    width: 400px;
}

#uniformed-man-text{
    color: antiquewhite;
    padding: 150px;
}

